
form .btn{
    color: #fff;
    background-color:#64A330;
    border-color:#64A330;
    padding: .375rem 8rem;
}

form .btn:hover{
	background-color:#64A330;
	border-color:#64A330;
}
form .btn:active{
	background-color:#64A330;
	border-color:#64A330;
}


.form-control2{
    background-color: #f5f5f5;
    border: 0;
    border-bottom: 1px solid #64A330;
    border-radius: 0;
}
