 
 body{
 	background-color:#f5f5f5;
 }


a{
	color:black;
}

p.faqsTitle{
font-size:20px
}

.nav-pills .nav-link.active {
    color: #64a33d;
    background-color: #f5f5f5;
}
.nav-pills a:hover{
color:#64a33d;
}
/*.nav-pills a{
	background-color:#64a33d; 
}-->*/

 